<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.44411976341-gkq0phmqi5trkql1db8eqsos5gbfjmsh</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>44411976341-puq7651vqdihbv6bl5ksq3cnltdmkp14.apps.googleusercontent.com
</string>
</dict>
</plist>
